:root {
    --color-primary: #B79CED;
    --color-secondary: #957FEF;
    --color-extra: #7161EF;
    --color-distinct: #EFD9CE;
}

* {
    margin: 0 0;
    padding: 0 0;
}

.body {
    max-height: 100vh;
    overflow: hidden;
    background-color: var(--color-primary);
    color: var(--color-extra);
}

.top-navbar {
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: flex-start;
    position: relative;
    align-items: center;
    background-color: var(--color-secondary);
}

.top-title {
    position: absolute;
    right: 1vw;
    font-size: 1rem;
    padding-left: 5px;
}

.search-bar-container {
    position: absolute;
    display: flex;
    height: 65%;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
}


.search-bar {
    display: flex;
    width: calc(100%);
    height: 100%;
}

.search-bar input {
    width: 100%;
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    right: 0;
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--color-extra);
}

.more-button {
    position: absolute;
    left: 5%;
    font-size: 1.2rem;
}

.video-area {
    position: relative;
    width: 100%;
    height: 35vh;
    background-color: black;
}

.music-controller {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 18%;
    bottom: 0;
}

.play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-distinct);
    aspect-ratio: 1 / 1;
    height: 80%;
    border-radius: 50%;
    font-size: 1.2rem;
}

.next-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin-left: 5vw;
    aspect-ratio: 1 / 1;
    color: var(--color-distinct);
    height: 80%;
}

.previous-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin-right: 5vw;
    aspect-ratio: 1 / 1;
    height: 80%;
    color: var(--color-distinct);
}

.image-preview {
    height: 100%;
    width: 100%;
    background-color: black;
}

.add-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    height: 60px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    bottom: 10px;
    right: 10px;
    color: var(--color-distinct);
    background-color: var(--color-distinct);
}

.add-button i {
    color: black;
}

.middle-controller {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60%;
}

.videos-container {
    width: 100%;
    height: 59vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
}

.videos-wrapper {
    width: 90%;
    height: 90%;
    border: 1px solid black;
    overflow: scroll;
}

.videos-list {
    width: 100%;
    flex-grow: 1;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    height: auto;
}

.video-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 80px;

    border-bottom: 1px solid black;
    background-color: var(--color-secondary);
}

.thumbnail-holder {
    height: 100%;
    width: 32%;
}

.thumbnail {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.info-holder {
    display: flex;
    width: 68%;
    font-size: 1rem;
    flex-direction: column;
    justify-content: center;
    padding-left: 2vw;
}

.side-bar-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    transform: translateX(-100%);
}

.side-bar-overlay.active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    transform: translateX(0);
    z-index: 1;
}

.side-bar {
    display: flex;
    postion: absolute;
    flex-direction: column;
    height: 100%;
    width: 60%;
    top: 0; 
    left: 0;
    background-color: var(--color-extra); 
    padding-top: 20px;
}

.side-bar.active {
    transform: translateX(0);
    z-index: 5 !important;
}

.side-bar-btn {
    display: flex;
    align-items: center;
    width: 94%;
    height: 45px;
    padding-left: 5%;
}

.side-bar-btn i {
    margin-right: 5%;
}

.bottom-panel {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 210px;
    background-color: var(--color-distinct);
}

.bottom-panel.active {
    transform: translateY(0);
}

.bottom-panel-overlay {
    display: none;
}

.bottom-panel-overlay.active {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: transparent;
    z-index: 1;
}

.add-playlist-button {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding-left: 20%;
    width: 100%;
    font-size: 1.2rem;
    height: 70px;
    border-top: 1px solid black; 
}

.add-queque-button i {
    padding-right: 5%;
}

.add-playlist-button i {
    padding-right: 5%;
}

.add-queque-button {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding-left: 20%;
    width: 100%;
    font-size: 1.2rem;
    height: 70px;
    border-top: 1px solid black; 
} 

.add-download-button {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding-left: 20%;
    width: 100%;
    font-size: 1.2rem;
    height: 70px;
    border-top: 1px solid black; 
}

.add-download-button i {
    margin-right: 5%;
}

.playlist-select-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 210px;
    background-color: var(--color-distinct);
}

.playlist-exist-button {
    aspect-ratio: 1/1;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

.playlist-create-button {
    aspect-ratio: 1/1;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

.playlist-select-overlay {
    display: none;
}

.playlist-select-overlay.active {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: transparent;
    z-index: 1;
}

.name-input-overlay {
    display: none;
}

.name-input-overlay.active {
    position: absolute;
    display: block;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 1;
}

.name-input-panel {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    top: calc(50% - 125px);
    width: 100%;
    height: 200px;
}

.text-field {
    height: 20%;
    width: 70%;
    background-color: blue;
}

.text-field input {
    font-size: 1.2rem;
    height: 100%;
    width: 100%;
}

.submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    border-radius: 25px;
    width: 40%;
    background-color: var(--color-distinct);
}
