:root {
    --color-primary: #B79CED;
    --color-secondary: #957FEF;
    --color-extra: #7161EF;
    --color-distinct: #EFD9CE;
	--bg: #e3e4e8;
	--fg: #2e3138;
    --primary: #255ff4;
}

* {
    margin: 0 0;
    padding: 0 0;
}

.body {
    max-height: 100vh;
    overflow: hidden;
    background-color: var(--color-primary);
    color: var(--color-extra);
}

.top-navbar {
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: flex-start;
    position: relative;
    align-items: center;
    background-color: var(--color-secondary);
}

.top-title {
    position: absolute;
    right: 1vw;
    font-size: 1rem;
    padding-left: 5px;
}

.search-bar-container {
    position: absolute;
    display: flex;
    height: 65%;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
}


.search-bar {
    display: flex;
    width: calc(100%);
    height: 100%;
}

.search-bar input {
    width: 100%;
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    right: 0;
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--color-extra);
}

.more-button {
    position: absolute;
    left: 5%;
    font-size: 1.2rem;
}

.video-area {
    position: relative;
    width: 100%;
    height: 35vh;
    background-color: black;
}

.music-controller {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 18%;
    bottom: 0;
}

.play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-distinct);
    aspect-ratio: 1 / 1;
    height: 80%;
    border-radius: 50%;
    font-size: 1.2rem;
}

.next-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin-left: 5vw;
    aspect-ratio: 1 / 1;
    color: var(--color-distinct);
    height: 80%;
}

.previous-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin-right: 5vw;
    aspect-ratio: 1 / 1;
    height: 80%;
    color: var(--color-distinct);
}

.volume-slider {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 5vw;
    bottom: 5px;
    font-size: 1.2rem;
    height: 15vh;
    width: 8vw;
    background-color: white;
    border-radius: 25px;
    padding-bottom: 10px;
    color: black;
    padding-top: 10px;
}

.volume-slider input {
    aspect-ratio: 1/1;
    transform: rotate(270deg);
    -moz-transform: rotate(270deg);
}

.image-preview {
    height: 100%;
    width: 100%;
    background-color: black;
}

.add-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    height: 60px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    bottom: 10px;
    right: 10px;
    color: var(--color-distinct);
    background-color: var(--color-distinct);
}

.add-button i {
    color: black;
}

.middle-controller {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60%;
}

.videos-container {
    width: 100%;
    height: 59vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
}

.videos-wrapper {
    width: 90%;
    height: 90%;
    border: 1px solid black;
    overflow: scroll;
}

.videos-list {
    width: 100%;
    flex-grow: 1;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    height: auto;
}

.video-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 80px;

    border-bottom: 1px solid black;
    background-color: var(--color-secondary);
}

.thumbnail-holder {
    height: 100%;
    width: 32%;
}

.thumbnail {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.info-holder {
    display: flex;
    width: 68%;
    font-size: 1rem;
    flex-direction: column;
    justify-content: center;
    padding-left: 2vw;
}

.remove-region {
    top: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
    right: 0;
    height: 100%;
    width: 20%;
}

.remove-button {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    height: 50%;
    top: 25%;
    background-color: red;
    border-radius: 25px;
}

.side-bar-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    transform: translateX(-100%);
}

.side-bar-overlay.active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    transform: translateX(0);
    z-index: 1;
}

.side-bar {
    display: flex;
    postion: absolute;
    flex-direction: column;
    height: 100%;
    width: 60%;
    top: 0; 
    left: 0;
    background-color: var(--color-extra); 
    padding-top: 20px;
}

.side-bar.active {
    transform: translateX(0);
    z-index: 5 !important;
}

.side-bar-btn {
    display: flex;
    align-items: center;
    width: 94%;
    height: 45px;
    padding-left: 5%;
}

.side-bar-btn i {
    margin-right: 5%;
}

.bottom-panel {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 210px;
    background-color: var(--color-distinct);
}

.bottom-panel.active {
    transform: translateY(0);
}

.bottom-panel-overlay {
    display: none;
}

.bottom-panel-overlay.active {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: transparent;
    z-index: 1;
}

.add-playlist-button {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding-left: 20%;
    width: 100%;
    font-size: 1.2rem;
    height: 70px;
    border-top: 1px solid black; 
}

.add-queque-button i {
    padding-right: 5%;
}

.add-playlist-button i {
    padding-right: 5%;
}

.add-queque-button {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding-left: 20%;
    width: 100%;
    font-size: 1.2rem;
    height: 70px;
    border-top: 1px solid black; 
} 

.add-download-button {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding-left: 20%;
    width: 100%;
    font-size: 1.2rem;
    height: 70px;
    border-top: 1px solid black; 
}

.add-download-button i {
    margin-right: 5%;
}

.playlist-select-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 210px;
    background-color: var(--color-distinct);
}

.playlist-exist-button {
    aspect-ratio: 1/1;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

.playlist-create-button {
    aspect-ratio: 1/1;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

.playlist-select-overlay {
    display: none;
}

.playlist-select-overlay.active {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: transparent;
    z-index: 1;
}

.name-input-overlay {
    display: none;
}

.name-input-overlay.active {
    position: absolute;
    display: block;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 1;
}

.name-input-panel {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    top: calc(50% - 125px);
    width: 100%;
    height: 200px;
}

.text-field {
    height: 20%;
    width: 70%;
    background-color: blue;
}

.text-field input {
    font-size: 1.2rem;
    height: 100%;
    width: 100%;
}

.submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    border-radius: 25px;
    width: 40%;
    background-color: var(--color-distinct);
}


.loading-screen-overlay {
    display: none;
}

.loading-screen-overlay.active {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 1;
}

.loading-screen-overlay h1 {
    margin-top: 20px;
    color: white;
}

.hourglass, .hourglass:before, .hourglass:after {
	animation-duration: 4s;
	animation-iteration-count: infinite;
}
.hourglass {
	--polygonH: polygon(0% 0%,100% 0%,100% 5.55%,95% 5.55%,95% 28%,60% 46%,60% 54%,95% 72%,95% 94.45%,100% 94.45%,100% 100%,0% 100%,0% 94.45%,5% 94.45%,5% 72%,40% 54%,40% 46%,5% 28%,5% 5.55%,0% 5.55%);
	animation-name: flip;
	animation-timing-function: ease-in-out;
	background-image: linear-gradient(var(--primary) 0.5em,#737a8c55 0.5em 8.5em,var(--primary) 8.5em);
	clip-path: var(--polygonH);
	-webkit-clip-path: var(--polygonH);
	overflow: hidden;
	position: relative;
	width: 5em;
	height: 9em;
	z-index: 0;
}
.hourglass:before, .hourglass:after {
	animation-timing-function: linear;
	content: "";
	display: block;
	position: absolute;
}
.hourglass:before {
	--polygonB1: polygon(0% 0%,100% 0%,100% 24%,50% 47%,50% 47%,50% 47%,50% 47%,50% 47%,50% 47%,50% 47%,50% 47%,0% 24%);
	--polygonB2: polygon(0% 4%,100% 4%,100% 24%,55% 45%,55% 100%,55% 100%,55% 100%,45% 100%,45% 100%,45% 100%,45% 45%,0% 24%);
	--polygonB3: polygon(0% 24%,100% 24%,100% 24%,55% 45%,55% 80%,100% 100%,100% 100%,0% 100%,0% 100%,45% 80%,45% 45%,0% 24%);
	--polygonB4: polygon(45% 45%,55% 45%,55% 45%,55% 45%,55% 58%,100% 76%,100% 100%,0% 100%,0% 76%,45% 58%,45% 45%,45% 45%);
	--polygonB5: polygon(50% 53%,50% 53%,50% 53%,50% 53%,50% 53%,100% 76%,100% 100%,0% 100%,0% 76%,50% 53%,50% 53%,50% 53%);
	animation-name: fill;
	background-color: var(--fg);
	background-size: 100% 3.6em;
	clip-path: var(--polygonB1);
	-webkit-clip-path: var(--polygonB1);
	top: 0.5em;
	left: 0.5em;
	width: 4em;
	height: 8em;
	z-index: 1;
}
.hourglass:after {
	animation-name: glare;
	background:
		linear-gradient(90deg,#0000 0.5em,#0003 0.5em 1.5em,#0000 1.5em 3.5em,#fff3 3.5em 4.5em,#fff0 4.5em 6.5em,#0003 6.5em 7.5em,#0000 7.5em) 0 0 / 100% 0.5em,
		linear-gradient(90deg,#0000 0.75em,#0003 0.75em 1.25em,#0000 1.25em 3.75em,#fff3 3.75em 4.25em,#fff0 4.25em 6.75em,#0003 6.75em 7.25em,#0000 7.25em) 0 0.5em / 100% 8em,
		linear-gradient(90deg,#0000 0.5em,#0003 0.5em 1.5em,#0000 1.5em 3.5em,#fff3 3.5em 4.5em,#fff0 4.5em 6.5em,#0003 6.5em 7.5em,#0000 7.5em) 0 100% / 100% 0.5em;
	background-repeat: repeat-x;
	top: 0;
	left: -3em;
	width: 200%;
	height: 100%;
	z-index: 2;
}
/* Animations */
@keyframes fill {
	from {
		clip-path: var(--polygonB1);
		-webkit-clip-path: var(--polygonB1);
	}
	10% {
		clip-path: var(--polygonB2);
		-webkit-clip-path: var(--polygonB2);
	}
	45% {
		clip-path: var(--polygonB3);
		-webkit-clip-path: var(--polygonB3);
	}
	80% {
		clip-path: var(--polygonB4);
		-webkit-clip-path: var(--polygonB4);
	}
	85%, to {
		clip-path: var(--polygonB5);
		-webkit-clip-path: var(--polygonB5);
	}
}
@keyframes glare {
	from, 90% {
		transform: translateX(0);
	}
	to {
		transform: translateX(3em);
	}
}
@keyframes flip {
	from, 90% {
		transform: rotate(0);
	}
	to {
		transform: rotate(180deg);
	}
}
/* Dark mode */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: #17181c;
		--fg: #c7cad1;
	}
}

